/shelf/
/dictionaries/
/workspace.xml
/tasks.xml
/usage.statistics.xml

/gradle.xml
/libraries/
/artifacts/
/compiler.xml
/jarRepositories.xml
/contentModel.xml
/modules.xml
/modules/

/dataSources/
/dataSources.local.xml
/dataSources.ids
/sqlDataSources.xml
/dynamic.xml
/uiDesigner.xml
/dbnavigator.xml

/mongoSettings.xml
/atlassian-ide-plugin.xml
/sonarlint/
/httpRequests/